target/

.classpath
.project
.idea/

!bin/java-cup-11.jar
!bin/JFlex.jar
bin/

save/
save.sh

src/java/java_cup/Lexer.java
src/java/java_cup/parser.java
src/java/java_cup/Parser.java
src/java/java_cup/sym.java
src/java/java_cup/Symbols.java
src/java/java_cup/dump.txt

lib/ant-1.10.11.jar
src-20250123.tar.gz
